<div  id="container">
 <form (ngSubmit)="saveData(formTemplate)" #formTemplate="ngForm">
  <div  style="margin-left: 60px;" class="list">
    <br>
    <h1>Registro de participante</h1>
    <br>
    <hr class="line">
    <div style="display: inline-flex;" >
      <label style="display: inline-flex;" class="item item-input"> Participante
        <input style="margin-left: 70px;" class="form-control" id="name" name="name" type="text" [(ngModel)]="user.name" >
      </label>
      <label style="margin-left: 20px;" class="item item-input">
        <input class="form-control" type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname" >
      </label>
    </div>
   </div>
  <br>

  <div style="margin-left: 60px;">
    <label style="display:inline-flex;" class="item item-input"> Departamento
      <select style="margin-left: 55px;width:465px;" class="form-control" name="department" id="department" [(ngModel)]="user.department">
        <option>Please Select </option>
        <option *ngFor="let department of departamentos" >{{department}}</option>
      </select>
    </label>
  </div>
 <br>

  <div style="margin-left: 60px;">
    <label style="display:inline-flex;" class="item item-input"> Ciudad
      <select style="margin-left: 105px;width:465px;" class="form-control" name="city" id="city" [(ngModel)]="user.city">
        <option>Please Select </option>
         <option *ngFor="let ciudad of ciudades" >{{ciudad}}</option>
      </select>
    </label>
  </div>
<br>
<div style="margin-left: 60px;">
  <label style="display:inline-flex;"  class="item item-input"> Email
    <input style="margin-left: 115px;width:465px;" class="form-control" type="text" id="email" name="email" [(ngModel)]="user.email" >
  </label>
</div>
  <br>
  <div style="margin-left: 60px;">
    <label style="display:inline-flex;" class="item item-input"> Telefono
      <input style="margin-left: 100px;width:465px;" id="phone" name="phone" class="form-control" type="tel" placeholder="(000) 000-0000" [(ngModel)]="user.phone" >
    </label>
  </div>
 <br>

  <div style="margin-left: 60px;">
    <label style="display:inline-flex;" class="item item-input"> Comentarios
      <textarea id="description" name="description" class="form-control description" [(ngModel)]="user.description"  ></textarea>
    </label>
  </div>
  <hr style="background-color: #1c35c4;">
  <div style="margin-left: 32%;">
    <button class="btn btn-outline-dark btn-static">Save</button>
    <button type="submit" class="btn btn-warning btn-save" >Guardar</button>
  </div>
 </form>
</div>