<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img loading="lazy" width="60" height="40" 
      src="https://www.jotform.com/uploads/ronaldvasquez/form_files/sigma-logo.62fea984031700.39912380.png" alt="Employee App Icon">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="faat">
  <img loading="lazy" width="200" height="100" 
  src="https://www.jotform.com/uploads/ronaldvasquez/form_files/sigma-logo.62fea984031700.39912380.png" alt=" Logo">
  <br>
  <h1>Prueba de desarrollo</h1>
  <p>Registro de Participante</p>
</div>
<div class="container">
  <ul class="align-self: stretch;
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;"> <div class="title">Recursos humanos y reclutamiento</div>
  <button  type="button" class="forms">
    <div (click)="forms()" class="icon">
      <img  src="assets/icon/usuario.jpg" alt="" width="50" height="50">
      <div class="itemContent">
        <div class="title">Participante</div>
      </div>
    </div>
  </button>
</ul>
</div>
</ion-content>
